name: ETL Automation
on:
    push:
        branches: [main]
    schedule: 
        - cron: "0- 2 * * *"
jobs:
    run-etl:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set Up Python
              uses: actions/setup-python@v4
              with:
                python-version: "3.10"

            - name: Install dependencies
              run: pip install -r requirements.txt
            - name: Run ETL
              env: 
                DB_URL: ${{ secrets.DB_URL }}
                S3_BUCKET: ${{ secrets.S3_BUCKET }}
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
                AWS_SECRET_KEY_ID: ${{ secrets.AWS_SECRET_KEY }}
            run: python etl/main.py

