name: ETL Automation
on:
    push:
        branches: [main]

    workflow_dispatch:
      
        #paths :
        #  - "sql/**"
        #  - "scripts/**"
        #  - ".github/workflows/**"
    schedule: 
        - cron: "0 2 * * *"
jobs:
    run-etl:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repo
            uses: actions/checkout@v4
          - name: Set Up Python
            uses: actions/setup-python@v5
            with:
                python-version: "3.11"

          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
          - name: Init database (run SQL files)
            env:
              DB_HOST: ${{secrets.DB_HOST}}
              DB_PORT: ${{secrets.DB_PORT}}
              DB_NAME: ${{secrets.DB_NAME}}
              DB_USER: ${{secrets.DB_USER}}
              DB_PASSWORD: ${{secrets.DB_PASSWORD}}
            run: |
              python -m scripts.init_db
          - name: Run ETL and upload to S3
            env:
              DB_HOST: ${{secrets.DB_HOST}}
              DB_PORT: ${{secrets.DB_PORT}}
              DB_NAME: ${{secrets.DB_NAME}}
              DB_USER: ${{secrets.DB_USER}}
              DB_PASSWORD: ${{secrets.DB_PASSWORD}}
              AWS_ACCESS_KEY_ID: $ {{secrets.AWS_ACCESS_KEY_ID}}
              AWS_SECRET_ACCESS_KEY: $ {{ secrets.AWS_SECRET_ACCESS_KEY }}
              AWS_REGION: ${{ secrets.AWS_REGION }}
              S3_BUCKET: ${{ secrets.S3_BUCKET}}
            run: |
              python -m etl.main              